#form-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);


}
form {
    width: 600px;
    height: 500px;
    border-radius: 28px;
    padding: 10px;
    background: linear-gradient(to bottom, #292929, #0000);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#form-heading{
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    background: linear-gradient(to right, #ffff, #535252 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.grid-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

label{
    color: white;
    font-weight: 600;
}

input{
    width: 200px;
    height: 33px;
    background-color: #535252 ;
    border: none 0px;
    border-radius: 3px;
    margin-bottom: 20px;
}

.input-container{
    display: flex;
    flex-direction: column;
    margin: 30px;
}

button{
    width: 80px;
    height: 40px;
    background-color: #292929;
    background: fixed;
    box-shadow: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* color: white; */
}

button::after{
    background-color: #292929;
}

button::before{
    background-color: #292929;
}

#button-container{
    display: flex;
    justify-content: center;
    align-items: center;
}